# IDE settings
.vs/
.vs/**/*
.vs

.vscode/
.vscode/**/*
.vscode

# Dev Container settings
.devcontainer/
.devcontainer/**/*
.devcontainer

# git folders and details
.git/
.git/**/*
.git
.gitignore
**/.gitignore

# kubernetes
k8s/
k8s/**/*
k8s

# github ci/cd and documents
.github/
.github/**/*
.github

# output folder for ci/cd
build/
build/**/*
build

# local secrets files
secrets/
secrets/**/*
secrets

# dotnet build output
**/obj/
**/obj/**/*
**/obj

**/bin/
**/bin/**/*
**/bin

# test results
**/[tT]est[rR]esults/
**/[tT]est[rR]esults/**/*
**/[tT]est[rR]esults
[tT]est[rR]esults/
[tT]est[rR]esults/**/*
[tT]est[rR]esults

# docker files
.env
docker-compose.yml
docker-compose.yaml
docker-compose.*.yml
docker-compose.*.yaml
**/[dD]ockerfile
**/*.dockerfile

# ignore documents
**/*.md
README.md

# environment settings
**/appsettings.*.json
**/appsettings.*.yaml

# local settings
**/localsettings.json
**/localsettings.yaml