.vs/
.vs/**/*
.vs

.devcontainer/
.devcontainer/**/*
.devcontainer

.git/
.git/**/*
.git

.github/
.github/**/*
.github

.gitignore

k8s/
k8s/**/*
k8s

build/
build/**/*
build

secrets/
secrets/**/*
secrets

**/obj/
**/obj/**/*
**/obj

**/bin/
**/bin/**/*
**/bin

[tT]est[rR]esults/
[tT]est[rR]esults/**/*
[tT]est[rR]esults

.env
docker-compose.yml
docker-compose.yaml
docker-compose.*.yml
docker-compose.*.yaml
**/[dD]ockerfile
**/*.dockerfile

**/*.md
README.md

**/appsettings.*.json
**/appsettings.*.yaml
**/localsettings.json
**/localsettings.yaml