
secrets/
secrets/**/*
secrets

**/obj/
**/obj/**/*
**/obj

**/bin/
**/bin/**/*
**/bin

[tT]est[rR]esults/
[tT]est[rR]esults/**/*
[tT]est[rR]esults

k8s/**/values.secrets.yaml
k8s/**/values.secrets.yml
k8s/**/values.local.yaml
k8s/**/values.local.yml

**/localsettings.json
**/localsettings.yaml